/*******
style du popup de fin de partie
*******/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /* font-size: 30px; */
}
/* 
@media screen and (min-width: 700px) {
    .modal-content {
        font-size: 20px;
    }
}
*/

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    padding: 1px 20px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}

/* Le bonus */
.bonus {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus .trophy img {
    display: block;
    margin: auto;
    max-width: 128px;
    filter: drop-shadow(0 0 4px #000);
    /* transition: 1s; */
    animation: trophy_animate 2s linear 1;
}

@keyframes trophy_animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.bonus .text h1 {
    font-weight: 900;
    font-size: 5rem;
    color: #222324;
    text-shadow: 8px 0px 0px #FABE2C;
}