body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#controle {
    /* position: absolute; */
    top: 0;
    left: 80px;
    right: 0px;
    text-align: center;
    /* margin: 10px; */
    font-size: 20px;
}

#canvas {
    position: relative;
    cursor: pointer;
}

input {
    font-size: 20px;
    display: inline;
    border-radius: 10px;
    padding: 10px;
}

/* masquage des controles de zoom */
#splongueur {
    display: none;
}

input[type=number] {
    width: 60px;
}

#btback,
#btreset,
#btcancel,
#genurl,
#termine,
#terminedl {
    font-size: 40px;
    color: aliceblue;
    display: inline;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
}


#btback:disabled,
#btreset:disabled,
#btcancel:disabled
 {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

#btNewGame,
#btCloseOptions,
#btRazStats {
    font-size: 30px;
    font-weight: bold;
    color: black;
    display: inline;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;

}

#btRazStats {
    font-size: 24px;
    font-weight: normal;
    background-color: lightgray;
}

#btNewGame {
    width: 250px;
}

hr {
    width: 80%;
    border: none;
    border-top: 3px double #000000;
    color: #333;
    height: 5px;
}

.explication {
    font-style: italic;
    margin: 20px;
}

#messagediv {
    position: fixed;
    margin: auto;
    width: 50%;
    top: 30vh;
    background: aliceblue;
    left: 25vw;
    padding: 40px;
    border-radius: 10px;
}

#popupEndGrid {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    background-color: #d6d6d6;
    border: 2px solid #000000;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.divStat {
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    background-color: floralwhite;
    padding: 5px;
    border: 1px solid #000000;
    text-align: left;

}

.home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;

}

.home:hover {
    border-width: 1px;
    border-radius: 5px;
    border: solid;
    border-color: cornflowerblue;
}

.optionButton {
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border-width: 2px;
    border-radius: 10px;
    background-color: cornsilk;
    color: black;
    cursor: pointer;
}

.modeButton {
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    border-width: 2px;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.modeButton:hover {
    filter: drop-shadow(.1rem .1rem .2rem #000000);
}

.titrePageIndex {
    text-align: center;
    border-style: solid;
    border-color: cornflowerblue;
    border-radius: 40px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    letter-spacing: 0.25rem;
}

#btnLang {
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: 40px;
}

.maxGridSize {
    font-weight: bold;
    font-size: 2rem;
    display: flex;         /* Active le mode Flexbox */
    align-items: center;   /* Centre les éléments verticalement */
    justify-content: center; /* Centre les éléments horizontalement */
    
}

.butMode {
    background-color: lavenderblush;
    border-radius: 20px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    padding: 5px;
    position: absolute;
    z-index: 5;
}

.butMode:hover {
    background-color: lavender;
    cursor: pointer;
}

.butMode-edge {
    left: 10px;
}

.butMode-diamond {
    left: calc(100% - 90px);
}

.butMode img {
    width: 60px;
    height: 60px;
}
